<h1>Stupid coaching</h1>
<%= "Ask your coach everything:" %>
<form class="row g-2" action="/answer" data-turbo="false">
  <div class="col-auto">
    <input class="form-control" type="text" name="question">
  </div>
  <div class="col-auto">
    <input type="submit" class="btn btn-primary" value="Ask!">
  </div>
</form>
